<section class="page-heading wow fadeIn" data-wow-duration="1.5s" style="background-image: url(https://localhost:7020/files/images/01-heading.jpg)">
					<div class="container">
						<div class="page-name">
							<h1>Our Services</h1>
							<span>Lovely layout of heading</span>
						</div>
					</div>
				</section>

				<section class="services on-services green">
					<div class="container">
						<div class="row">
							<div class="section-heading">
								<h2>What We Offer</h2>
								<div class="section-dec"></div>
							</div>
							@foreach (System.Data.DataRow dr in ViewBag.ds.Rows)
							{
							<div class="service-item col-md-4">
								<span><i class="@dr["icon"].ToString()"></i></span>
								<div class="tittle"><h3>@dr["title"].ToString()</h3></div>
								<p>@dr["discription"].ToString()</p>
							</div>
							}
						</div>
					</div>
				</section>

				<section class="call-to-action-2">
					<div class="container">
				@foreach (System.Data.DataRow dr in ViewBag.ds2.Rows)
				{
					<div class="left-text hidden-xs">

						<h4>@dr["title"].ToString()</h4>
						<p><em>@dr["discription1"].ToString()</em><br><br>@dr["discription2"].ToString()</p>
					</div>
			<div class="right-image hidden-xs"> <img src="~/image/@dr["image"].ToString()" width="100%" height="100%" /></div>
		}
	</div>
				</section>	